venv
RAIS_VINC_PUB_SP.txt
CBO2002 - Familia.csv
CBO2002 - Grande Grupo.csv
CBO2002 - Ocupacao.csv
CBO2002 - PerfilOcupacional.csv
CBO2002 - Sinonimo.csv
CBO2002 - SubGrupo Principal.csv
CBO2002 - SubGrupo.csv
bairros_sp.csv
cnae_20_subclasse.csv
municipio.csv
amazon_sentiment_json_small
amostra_sp.txt